*{
    margin: 0;
    padding: 0;
}
.fundo{
    background-image:url(WhatsApp\ Image\ 2024-08-09\ at\ 10.13.59.jpeg);
    height: 100vh;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-repeat: no-repeat;
    height: 120%;
    background-size: cover;
    
}
.Calculadora{
    position: absolute;
    background-color: rgba(219, 222, 222, 0.7);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    padding: 20px;
    font-size: 15px;
}
.botao{
    width: 50px;
    height: 50px;
    margin: 3px;
    font-size: 25px;
    cursor: pointer;
    background-color: rgb(247, 245, 245);
    border: none;
    color: rgb(11, 11, 11);
}
.botao:hover{
    background-color: rgb(225, 6, 249);
    color: rgb(12, 0, 0);
}
#resultado{
    background-color: rgb(8, 141, 242);
    width: 207px;
    height: 30px;
    margin: 5px;
    color: rgb(0, 0, 0);
    text-align: right;
    padding: 5px;
}